@{
    var loginUser = Session["loginUser"] as KariyerWebUI.Models.LoginViewModel;
}


<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Kariyer Masası Online Görüşme</title>
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/images/favicon.png">
    <link rel="stylesheet" href="~/Content/css/chartist.min.css">
    <link href="~/Content/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/css/default.date.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>
<body>
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <div id="main-wrapper">
        <div class="nav-header">
            <a href="/" class="brand-logo">
                <img src="~/Content/kariyermasasi/miniLogo.png" class="brand-logo" />
                <div class="brand-title"></div>
            </a>
            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
        </div>
        <div class="deznav">
            <div class="deznav-scroll">
                <ul class="metismenu" id="menu">
                    <li>
                        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                            <i class="flaticon-025-dashboard"></i>
                            <span class="nav-text">Kullanıcı Bilgileri</span>
                        </a>
                        <ul aria-expanded="false" class="mm-collapse">
                            <li><a href="/kullanici">Kullanıcılar</a></li>
                            <li><a href="/yetki">Yetkiler</a></li>
                            <li><a href="/kullanici-yetki">Kullanıcı Yetkileri</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/yonetici" class="has-arrow ai-icon" aria-expanded="false">
                            <i class="flaticon-025-dashboard"></i>
                            <span class="nav-text">Admin Bilgileri</span>
                        </a>
                    </li>
                    <li>
                        <a href="/dil" class="has-arrow ai-icon" aria-expanded="false">
                            <i class="flaticon-025-dashboard"></i>
                            <span class="nav-text">Sistem Dili</span>
                        </a>
                    </li>
                    <li>
                        <a href="/calisma-alani" class="has-arrow ai-icon" aria-expanded="false">
                            <i class="flaticon-025-dashboard"></i>
                            <span class="nav-text">Çalışma Alanı</span>
                        </a>
                    </li>
                    <li>
                        <a href="/ozel-durum" class="has-arrow ai-icon" aria-expanded="false">
                            <i class="flaticon-025-dashboard"></i>
                            <span class="nav-text">Özel Durum</span>
                        </a>
                    </li>
                    <li>
                        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                            <i class="flaticon-025-dashboard"></i>
                            <span class="nav-text">Şirket Bilgileri</span>
                        </a>
                        <ul aria-expanded="false" class="mm-collapse">
                            <li><a href="/sirket">Şirket</a></li>
                            <li><a href="/sirket-personel">Personel</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="copyright">
                    <p><strong>360MEKA</strong> © @DateTime.Now.Year All Rights Reserved</p>
                    <p class="fs-12">Made with <span class="heart"></span> by 360MEKA</p>
                </div>
            </div>
        </div>
        <div class="content-body">
            @RenderBody()
        </div>
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="dashboard_bar">
                                Kariyer Merkezi
                            </div>
                        </div>
                        <div class="custom-control custom-switch toggle-switch text-right mr-4">
                            <input type="checkbox" class="custom-control-input" id="customSwitch11" onchange="set_service_status()" checked>
                            <label class="custom-control-label fs-15 text-black pr-2" for="customSwitch11">Firma Aktif Durumu</label>
                        </div>
                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown header-profile">
                                @if (loginUser != null)
                                {
                                    <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                        <img src="@loginUser.Image" alt="">
                                        <div class="header-info">
                                            <span class="fs-20 font-w500">@loginUser.Name @loginUser.Surname</span>
                                            <small>@loginUser.Role</small>
                                        </div>
                                    </a>
                                }
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="/kullanici-detay" class="dropdown-item ai-icon">
                                        <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" class="text-primary" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                        <span class="ml-2">Kullanıcı Bilgileri </span>
                                    </a>
                                    <a href="/cikis-yap" class="dropdown-item ai-icon">
                                        <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                                        <span class="ml-2">Çıkış Yap </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="footer">

            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="https://360meka.com/" target="_blank">360MEKA</a> @DateTime.Now.Year</p>
            </div>
        </div>
    </div>

    <script src="~/Content/js/global.min.js"></script>
    <script src="~/Content/js/bootstrap-select.min.js"></script>
    <script src="~/Content/js/Chart.bundle.min.js"></script>
    <script src="~/Content/js/jquery.peity.min.js"></script>
    <script src="~/Content/js/custom.min.js"></script>
    <script src="~/Content/js/deznav-init.js"></script>
    <script src="~/Content/js/demo.js"></script>
    <script src="~/Scripts/bootbox.js"></script>
    <script src="~/Content/js/styleSwitcher.js"></script>
    <script src="~/Content/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/js/moment.min.js"></script>
    <script src="~/Content/js/bootstrap-material-datetimepicker.js"></script>
    <script src="~/Content/js/material-date-picker-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    @RenderSection("Scripts", required: false)

    <!-- All init script -->
</body>
</html>