@model KariyerWebUI.Models.UserProfileViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var loginUser = Session["loginUser"] as KariyerWebUI.Models.LoginViewModel;
    int seminarCount = Model.Seminars.Count();
    int certificateCount = Model.Certificates.Count();
    int referenceCount = Model.References.Count();
}
@section Scripts{
    <script src="~/Content/js/pages/userprofiles.js"></script>
}

<div class=" @(loginUser != null ? "container-fluid" : "")">
    <br />
    <br />
    <div class="row">
        <div class="col-lg-12">
            <div class="profile card card-body px-3 pt-3 pb-0">
                <div class="profile-head">
                    <div class="profile-info">
                        @if (Model.UserInformations.Count != 0)
                        {
                            foreach (var item in Model.UserInformations)
                            {
                                <div class="profile-photo">
                                    <img src="@item.Photo" class="img-fluid rounded-circle" alt="">
                                </div>
                                <div class="profile-details">
                                    <div class="profile-name px-3 pt-2">
                                        <h4 class="text-primary mb-0">@item.Name @item.Surname</h4>
                                        @if (loginUser != null)
                                        {
                                            <p>@loginUser.Role</p>
                                        }
                                        else
                                        {
                                            <p>@item.BusinessArea.Name</p>
                                        }
                                    </div>
                                    <div class="profile-email px-2 pt-2">
                                        <h4 class="text-muted mb-0">@item.EMail</h4>
                                        <p>E-Mail</p>
                                    </div>
                                    <div class="profile-email px-2 pt-2">
                                        <h4 class="text-muted mb-0">@item.Phone</h4>
                                        <p>Telefon</p>
                                    </div>
                                </div>
                            }
                        }
                        <div class="dropdown ml-auto">
                            <a href="#" class="btn btn-primary light sharp" data-toggle="dropdown" aria-expanded="true"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-item" style="cursor:pointer" data-toggle="modal" data-target="#seminarModal"><i class="fa fa-plus text-primary mr-2"></i> Seminer Ekle</li>
                                <li class="dropdown-item" style="cursor:pointer" data-toggle="modal" data-target="#referenceModal"><i class="fa fa-plus text-primary mr-2"></i> Referans Ekle</li>
                                <li class="dropdown-item" style="cursor:pointer" data-toggle="modal" data-target="#computerModal"><i class="fa fa-plus text-primary mr-2"></i> Bilgisayar Bilgisi Ekle</li>
                                <li class="dropdown-item" style="cursor:pointer" data-toggle="modal" data-target="#certificateModal"><i class="fa fa-plus text-primary mr-2"></i> Sertifika Ekle</li>
                                <li class="dropdown-item" style="cursor:pointer" data-toggle="modal" data-target="#educationModal"><i class="fa fa-plus text-primary mr-2"></i> Eğitim Ekle</li>
                                <li class="dropdown-item" style="cursor:pointer" data-toggle="modal" data-target="#languageModal"><i class="fa fa-plus text-primary mr-2"></i> Yabancı Dil Ekle</li>

                                <li class="dropdown-item" style="cursor:pointer"><i class="fa fa-plus text-primary mr-2"></i> İş Bilgisi Ekle</li>
                                <li class="dropdown-item" style="cursor:pointer"><i class="fa fa-plus text-primary mr-2"></i> Özel Durum Ekle</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="profile-statistics">
                                <div class="text-center">
                                    <div class="row">
                                        <div class="col">
                                            <h3 class="m-b-0">@referenceCount</h3><span>Referans</span>
                                        </div>
                                        <div class="col">
                                            <h3 class="m-b-0">@seminarCount</h3><span>Seminer</span>
                                        </div>
                                        <div class="col">
                                            <h3 class="m-b-0">@certificateCount</h3><span>Sertifika</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="text-primary d-inline">Özel Durum</h3>
                            @foreach (var item in Model.SpecialDirectories)
                            {
                                <div class="profile-blog pt-3">
                                    <h6><a class="text-black">@item.UserSpecialType.Name</a></h6>
                                </div>
                                <br />
                            }
                        </div>
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="text-primary d-inline">Bilgisayar Bilgisi</h3>
                            @foreach (var item in Model.ComputerInformations)
                            {
                                <div class="profile-blog pt-3">
                                    <h6><a class="text-black">@item.Name</a></h6>
                                    <p class="mb-0">@item.Description</p>
                                    <div class="lg-right-end">
                                        <a class="fs-28 text-danger las la-times-circle" href="/bilgisayar-bilgisi-sil/@item.ID"></a>
                                        <a class="fs-28 text-success las la-edit " style="cursor:pointer;" id="btnComputerDetail" data-id="@item.ID"></a>
                                    </div>
                                </div>
                                <br />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="card">
                <div class="card-body">
                    <div class="profile-tab">
                        <div class="custom-tab-1">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a href="#references" data-toggle="tab" class="nav-link active show">Referanslar</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#certificates" data-toggle="tab" class="nav-link">Sertifikalar</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#works" data-toggle="tab" class="nav-link">İş Bilgisi</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#languages" data-toggle="tab" class="nav-link">Yabancı Diller</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#educations" data-toggle="tab" class="nav-link">Eğitim</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#seminars" data-toggle="tab" class="nav-link">Seminer</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="references" class="tab-pane active show">
                                    <br />
                                    @foreach (var item in Model.References)
                                    {
                                        <div class="profile-personal-info">
                                            <h4 class="text-primary mb-4">Referans Bilgileri</h4>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5"><h5 class="f-w-500">Adı Soyadı <span class="pull-right">:</span></h5></div>
                                                <div class="col-sm-9 col-7"><span>@item.NameSurname</span></div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5"><h5 class="f-w-500">Email <span class="pull-right">:</span></h5></div>
                                                <div class="col-sm-9 col-7"><span>@item.EMail</span></div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5"><h5 class="f-w-500">Telefon <span class="pull-right">:</span></h5></div>
                                                <div class="col-sm-9 col-7"><span>@item.Phone</span></div>
                                            </div>
                                            <div class="lg-right-end">
                                                <a class="fs-28 text-danger las la-times-circle" href="/referans-sil/@item.ID"></a>
                                                <a class="fs-28 text-success las la-edit " style="cursor:pointer;" id="btnReferenceDetail" data-id="@item.ID"></a>
                                            </div>
                                        </div>

                                    }
                                </div>
                                <div id="certificates" class="tab-pane fade">
                                    <br />
                                    @foreach (var item in Model.Certificates)
                                    {
                                        <div class="profile-personal-info">
                                            <h4 class="text-primary mb-4">Sertifika Bilgileri</h4>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5"><h5 class="f-w-500">Adı<span class="pull-right">:</span></h5></div>
                                                <div class="col-sm-9 col-7"><span>@item.Name</span></div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5"><h5 class="f-w-500">Tarihi <span class="pull-right">:</span></h5></div>
                                                <div class="col-sm-9 col-7"><span>@item.FinishDate.ToString("dd.MM.yyyy")</span></div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5"><h5 class="f-w-500">Kurum Adı <span class="pull-right">:</span></h5></div>
                                                <div class="col-sm-9 col-7"><span>@item.InstitutionFromName</span></div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5"><h5 class="f-w-500">Dili <span class="pull-right">:</span></h5></div>
                                                <div class="col-sm-9 col-7"><span>@item.Language.Name</span></div>
                                            </div>
                                            <div class="lg-right-end">
                                                <a class="fs-28 text-danger las la-times-circle" href="/sertifika-sil/@item.ID"></a>
                                                <a class="fs-28 text-success las la-edit " style="cursor:pointer;" id="btnCertificateDetail" data-id="@item.ID"></a>
                                            </div>
                                        </div>

                                    }
                                </div>
                                <div id="works" class="tab-pane fade">
                                    <br />
                                    @foreach (var item in Model.BusinessInformations)
                                    {
                                        <div class="profile-personal-info">
                                            <h4 class="text-primary mb-4">İş Bilgileri</h4>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5"><h5 class="f-w-500">İsim<span class="pull-right">:</span></h5></div>
                                                <div class="col-sm-9 col-7"><span>@item.CompanyName</span></div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5"><h5 class="f-w-500">Başlangıç Tarih<span class="pull-right">:</span></h5></div>
                                                <div class="col-sm-9 col-7"><span>@item.StartingDate.ToString("dd.MM.yyyy")</span></div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5"><h5 class="f-w-500">Bitiş Tarih<span class="pull-right">:</span></h5></div>
                                                <div class="col-sm-9 col-7"><span>@item.FinishDate.ToString("dd.MM.yyyy")</span></div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5"><h5 class="f-w-500">Görev<span class="pull-right">:</span></h5></div>
                                                <div class="col-sm-9 col-7"><span>@item.Duty</span></div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5"><h5 class="f-w-500">Açıklama<span class="pull-right">:</span></h5></div>
                                                <div class="col-sm-9 col-7"><span>@item.Description</span></div>
                                            </div>
                                        </div>

                                    }
                                </div>
                                <div id="languages" class="tab-pane fade">
                                    <br />
                                    @foreach (var item in Model.Languages)
                                    {
                                        <div class="profile-personal-info">
                                            <h4 class="text-primary mb-4">İş Bilgileri</h4>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5"><h5 class="f-w-500">Konuşma<span class="pull-right">:</span></h5></div>
                                                <div class="col-sm-9 col-7"><span>@item.SpeakingLevel</span></div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5"><h5 class="f-w-500">Dinleme<span class="pull-right">:</span></h5></div>
                                                <div class="col-sm-9 col-7"><span>@item.ListeningLevel</span></div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5"><h5 class="f-w-500">Yazma<span class="pull-right">:</span></h5></div>
                                                <div class="col-sm-9 col-7"><span>@item.WritingLevel</span></div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5"><h5 class="f-w-500">Açıklama<span class="pull-right">:</span></h5></div>
                                                <div class="col-sm-9 col-7"><span>@item.Description</span></div>
                                            </div>
                                            <div class="lg-right-end">
                                                <a class="fs-28 text-danger las la-times-circle" href="/kullanici-dil-sil/@item.ID"></a>
                                                <a class="fs-28 text-success las la-edit " style="cursor:pointer;" id="btnLanguageDetail" data-id="@item.ID"></a>
                                            </div>

                                        </div>

                                    }
                                </div>
                                <div id="educations" class="tab-pane fade">
                                    <br />
                                    @foreach (var item in Model.Educations)
                                    {
                                        <div class="profile-personal-info">
                                            <h4 class="text-primary mb-4">Üniversite Bilgileri</h4>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5"><h5 class="f-w-500">Adı<span class="pull-right">:</span></h5></div>
                                                <div class="col-sm-9 col-7"><span>@item.SchoolName</span></div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5"><h5 class="f-w-500">Durumu<span class="pull-right">:</span></h5></div>
                                                <div class="col-sm-9 col-7"><span>@item.GraduationStatus</span></div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5"><h5 class="f-w-500">Mezun Tarihi<span class="pull-right">:</span></h5></div>
                                                <div class="col-sm-9 col-7"><span>@item.GraduationYear.ToString("dd.MM.yyyy")</span></div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5"><h5 class="f-w-500">Eğitim Seviyesi<span class="pull-right">:</span></h5></div>
                                                <div class="col-sm-9 col-7"><span>@item.GraduationGrade</span></div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5"><h5 class="f-w-500">Departman<span class="pull-right">:</span></h5></div>
                                                <div class="col-sm-9 col-7"><span>@item.Department</span></div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5"><h5 class="f-w-500">Açıklama<span class="pull-right">:</span></h5></div>
                                                <div class="col-sm-9 col-7"><span>@item.Description</span></div>
                                            </div>
                                            <div class="lg-right-end">
                                                <a class="fs-28 text-danger las la-times-circle" href="/egitim-sil/@item.ID"></a>
                                                <a class="fs-28 text-success las la-edit " style="cursor:pointer;" id="btnEducationDetail" data-id="@item.ID"></a>
                                            </div>
                                        </div>

                                    }
                                </div>
                                <div id="seminars" class="tab-pane fade">
                                    <br />
                                    @foreach (var item in Model.Seminars)
                                    {
                                        <div class="profile-personal-info">
                                            <h4 class="text-primary mb-4">Seminer Bilgileri</h4>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5"><h5 class="f-w-500">Adı<span class="pull-right">:</span></h5></div>
                                                <div class="col-sm-9 col-7"><span>@item.Name</span></div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5"><h5 class="f-w-500">Mezun Tarihi<span class="pull-right">:</span></h5></div>
                                                <div class="col-sm-9 col-7"><span>@item.Date.ToString("dd.MM.yyyy")</span></div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5"><h5 class="f-w-500">Açıklama<span class="pull-right">:</span></h5></div>
                                                <div class="col-sm-9 col-7"><span>@item.Description</span></div>
                                            </div>
                                            <div class="lg-right-end">
                                                <a class="fs-28 text-danger las la-times-circle" href="/seminer-sil/@item.ID"></a>
                                                <a class="fs-28 text-success las la-edit " style="cursor:pointer;" id="btnSeminarDetail" data-id="@item.ID"></a>
                                            </div>
                                        </div>
                                        <br />

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@{Html.RenderAction("Add", "UserSeminar");}
@{Html.RenderAction("Add", "UserReference");}
@{Html.RenderAction("Add", "UserComputerInformation");}
@{Html.RenderAction("Add", "UserCertificate");}
@{Html.RenderAction("Add", "UserEducation");}
@{Html.RenderAction("Add", "UserLanguage");}


<div id="ModalContent"></div>