﻿
@{ Layout = null; }


<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Kariyer Masası Giriş Ekranı</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Login/img/favicon.png">
    <link rel="stylesheet" href="~/Content/Login/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Login/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/Content/Login/font/flaticon.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css">

    <link href="~/Content/Login/css/style.css" rel="stylesheet" />
</head>

<body>
    <div id="preloader" class="preloader">
        <div class='inner'>
            <div class='line1'></div>
            <div class='line2'></div>
            <div class='line3'></div>
        </div>
    </div>
    <section class="fxt-template-animation fxt-template-layout31">
        <span class="fxt-shape fxt-animation-active"></span>
        <div class="fxt-content-wrap">
            <div class="fxt-heading-content">
                <div class="fxt-inner-wrap">
                    <div class="fxt-transformY-50 fxt-transition-delay-3">
                        <a href="login-31.html" class="fxt-logo"><img src="~/Content/Login/img/logo-31.png" alt="Logo"></a>
                    </div>
                    <div class="fxt-login-option">
                        <ul>
                            <li class="fxt-transformY-50 fxt-transition-delay-6"><a href="/giris-yap">Giriş Yap</a></li>
                            <li class="fxt-transformY-50 fxt-transition-delay-7"><a href="/kullanici-kayit">Yeni Bireysel Hesap Oluştur</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="fxt-form-content">
                <div class="fxt-main-form">
                    @using (Html.BeginForm("CompanyAdd", "Register", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="tab-content">
                            <div id="company_info" class="tab-pane active">
                                <h3>Şirket Kullanıcı Bilgileri</h3>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" id="name" class="form-control" name="Name" placeholder="İsim" required="required">
                                            @*@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input id="surname" type="text" class="form-control" name="Surname" placeholder="Soyisim" required="required">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" name="Title" class="form-control" placeholder="Ünvan" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <select required class="form-control" name="Gender">
                                                <option value="Erkek">Erkek</option>
                                                <option value="Kadın">Kadın</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="file" name="Image" id="Image" class="form-control" hidden />
                                            <label for="Image" class="fxt-btn-fill text-center">Fotoğraf yükle</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="Phone" placeholder="Telefon" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="Town" placeholder="Semt" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="City" placeholder="Şehir" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="Country" placeholder="Ülke" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea name="Address" class="form-control" placeholder="Adres"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <h3>Şirket Bilgileri</h3>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <select class="form-control" multiple id="business-area-select">
                                                @foreach (var item in ViewBag.BusinessAreaID)
                                                {
                                                    <option value="@item.ID">@item.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <select class="form-control" multiple id="department-select">
                                                @foreach (var item in ViewBag.DepartmentID)
                                                {
                                                    <option value="@item.ID">@item.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <select class="form-control" multiple id="city-select">
                                                <option value="İstanbul">İstanbul</option>
                                                <option value="Ankara">Ankara</option>
                                                <option value="İzmir">İzmir</option>
                                                <option value="Bursa">Bursa</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="Name" class="form-control" placeholder="Şirket adı" />
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="file" name="Image" id="CompanyImage" class="form-control" hidden />
                                            <label for="CompanyImage" class="fxt-btn-fill text-center">Fotoğraf yükle</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" name="EMail" class="form-control" placeholder="Şirket e-posta" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="Phone" class="form-control" placeholder="Şirket telefonu" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="Fax" class="form-control" placeholder="Fax Numarası" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" name="Town" class="form-control" placeholder="Semt" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="City" class="form-control" placeholder="Şehir" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="Country" class="form-control" placeholder="Ülke" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="form-control" name="Address" placeholder="Adres"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="TaxNumber" class="form-control" placeholder="Vergi Numarası" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="TaxAddress" class="form-control" placeholder="Vergi Dairesi" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="fxt-btn-fill">Kaydol</button>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </section>
    <script src="~/Content/Login/js/jquery-3.5.0.min.js"></script>
    <script src="~/Content/Login/js/popper.min.js"></script>
    <script src="~/Content/Login/js/bootstrap.min.js"></script>
    <script src="~/Content/Login/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/Content/Login/js/validator.min.js"></script>
    <script src="~/Content/Login/js/main.js"></script>
    <script src="~/Content/js/pages/companyregister.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

</body>
</html>