@{ Layout = null; }
@model KariyerEntity.Entity.User
<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Kariyer Masası Giriş Ekranı</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Login/img/favicon.png">
    <link rel="stylesheet" href="~/Content/Login/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Login/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/Content/Login/font/flaticon.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css">

    <link href="~/Content/Login/css/style.css" rel="stylesheet" />
</head>

<body>
    <div id="preloader" class="preloader">
        <div class='inner'>
            <div class='line1'></div>
            <div class='line2'></div>
            <div class='line3'></div>
        </div>
    </div>
    <section class="fxt-template-animation fxt-template-layout31">
        <span class="fxt-shape fxt-animation-active"></span>
        <div class="fxt-content-wrap">
            <div class="fxt-heading-content">
                <div class="fxt-inner-wrap">
                    <div class="fxt-transformY-50 fxt-transition-delay-3">
                        <a href="login-31.html" class="fxt-logo"><img src="~/Content/Login/img/logo-31.png" alt="Logo"></a>
                    </div>
                    <div class="fxt-login-option">
                        <ul>
                            <li class="fxt-transformY-50 fxt-transition-delay-6"><a href="/giris-yap">Giriş Yap</a></li>
                            <li class="fxt-transformY-50 fxt-transition-delay-7"><a href="/sirket-kayit">Yeni Kurumsal Hesap Oluştur</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="fxt-form-content">
                <div class="fxt-main-form">
                    @using (Html.BeginForm("UserAdd", "Register", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="tab-content">
                            <div id="user_info" class="tab-pane active">
                                <h3>Kişisel Bilgiler</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="Name" placeholder="İsim" required="required">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="Surname" placeholder="Soyisim" required="required">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="EMail" placeholder="EMail" required="required">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="Password" placeholder="Şifre" required="required">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" id="phone" class="form-control" name="Phone" placeholder="Telefon" required="required">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <select required class="form-control" name="Gender">
                                                <option value="" disabled selected>Cinsiyet</option>
                                                <option value="Erkek">Erkek</option>
                                                <option value="Kadın">Kadın</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" name="Town" placeholder="Semt" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" name="City" placeholder="Şehir" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" name="Country" placeholder="Ülke" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea name="Address" class="form-control" placeholder="Adres"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12" id="type">
                                        <div class="form-group">
                                            <select class="form-control" id="type-select" name="Type">
                                                <option value="" disabled selected>Kullanıcı tipi seçin</option>
                                                <option value="Özel Durum">Özel Durum</option>
                                                <option value="Öğrenci">Öğrenci</option>
                                                <option value="Mezun">Mezun</option>
                                                <option value="Stajyer">Stajyer</option>
                                                <option value="Rehber">Rehber</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12" id="special-type" style="display:none">
                                        <div class="form-group" id="select-container">
                                            <select class="form-control" name="SpecType[]" multiple id="special-select">
                                                @foreach (var item in ViewBag.SpecialType)
                                                {
                                                    <option value="@item.Name">@item.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-12" id="business-area" style="display:none">
                                        <div class="form-group">
                                            <select class="form-control" name="Business[]" multiple id="business-area-select">
                                                @foreach (var item in ViewBag.BusinessAreaID)
                                                {
                                                    <option value="@item.Name">@item.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12" id="department" style="display:none">
                                        <div class="form-group" id="select-container">
                                            <select class="form-control" name="Depart[]" multiple id="department-select">
                                                @foreach (var item in ViewBag.DepartmentID)
                                                {
                                                    <option value="@item.Name">@item.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12" id="city" style="display:none">
                                        <div class="form-group">
                                            <select class="form-control" multiple id="city-select">
                                                <option value="İstanbul">İstanbul</option>
                                                <option value="Ankara">Ankara</option>
                                                <option value="İzmir">İzmir</option>
                                                <option value="Bursa">Bursa</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="file" id="Photo" name="Photo" class="fxt-btn-fill text-center" />
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="fxt-btn-fill">Kaydol</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <script src="~/Content/Login/js/jquery-3.5.0.min.js"></script>
    <script src="~/Content/Login/js/popper.min.js"></script>
    <script src="~/Content/Login/js/bootstrap.min.js"></script>
    <script src="~/Content/Login/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/Content/Login/js/validator.min.js"></script>
    <script src="~/Content/Login/js/main.js"></script>
    <script src="~/Content/js/pages/userregister.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

</body>
</html>