@model KariyerEntity.Entity.UserBusinessInformation
<div class="modal fade" id="workEditModal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">İş Bilgisi Düzenle</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body" id="detailModal">
                <form id="user-workedit-form" action="/kullanici-is-duzenle" submit-success="succesSubmit">
                @Html.HiddenFor(x=>x.ID)
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>Firma</label>
                            <input type="text" class="form-control" required value="@Model.CompanyName" name="CompanyName" placeholder="Firma Giriniz...">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>Açıklama</label>
                            <textarea class="form-control" rows="4" required name="Description" id="comment">@Html.Raw(Model.Description)</textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>Görevi</label>
                            <input type="text" class="form-control" required value="@Model.Duty" name="Duty" placeholder="Görev Giriniz...">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>İşe Giriş Tarihi</label>
                            <input type="datetime" class="form-control mdate" required value="@Model.StartingDate.ToString("dd.MM.yyyy")" name="StartingDate" placeholder="İşe Giriş Tarihi Giriniz...">
                        </div>
                        <div class="form-group col-md-6">
                            <label>İşten Çıkış Tarihi</label>
                            <input type="datetime" class="form-control mdate" required value="@Model.FinishDate.ToString("dd.MM.yyyy")" name="FinishDate" placeholder="İşe Giriş Tarihi Giriniz...">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="closeUser" class="btn btn-danger light" data-dismiss="modal">Kapat</button>
                        <button type="button" submit-form="#user-workedit-form" class="btn btn-success light">Ekle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>