@model KariyerEntity.Entity.User
@if (Model != null)
{

    <div class="modal fade" id="detailModal" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Kullanıcı Görüntüle</h5>
                    <button onclick="GetData()" type="button" class="close" data-dismiss="modal">
                        <span>×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="user-edit-form" action="/kullanici-guncelle" submit-success="succesSubmit">
                        @Html.HiddenFor(x => x.ID)
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>İsim</label>
                                <input type="text" class="form-control" value="@Model.Name" name="Name" placeholder="İsim Giriniz...">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Soyisim</label>
                                <input type="text" class="form-control" value="@Model.Surname" name="Surname" placeholder="Soyisim Giriniz...">
                            </div>
                            <div class="form-group col-md-6">
                                <label>E-Mail</label>
                                <input type="email" class="form-control" value="@Model.EMail" name="EMail" placeholder="E-Mail Giriniz...">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Şifre</label>
                                <input type="password" class="form-control" value="@Model.Password" name="Password" placeholder="Şifre Giriniz...">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Telefon</label>
                                <input type="tel" class="form-control" value="@Model.Phone" name="Phone" placeholder="Telefon Giriniz...">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Ülke</label>
                                <input type="text" class="form-control" value="@Model.Country" name="Country" placeholder="Ülke Giriniz...">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Şehir</label>
                                <input type="text" class="form-control" value="@Model.City" name="City" placeholder="Şehir Giriniz...">
                            </div> <div class="form-group col-md-6">
                                <label>İlçe/Kasaba</label>
                                <input type="text" class="form-control" value="@Model.Town" name="Town" placeholder="İlçe/Kasaba Giriniz...">
                            </div>
                            <div class="form-group col-md-12">
                                <label>Adres</label>
                                <textarea class="form-control" rows="4" name="Address" id="comment" placeholder="Adres Giriniz..."></textarea>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Kullanıcı Tipi</label>
                                <select class="custom-select2 form-control" name="Type">
                                    <optgroup label="Cinsiyet">
                                        <option value="@Model.Type">@Model.Type</option>
                                        <option @(Model.Type == "Öğrenci" ? "hidden " : "") value="Öğrenci">Öğrenci</option>
                                        <option @(Model.Type == "Mezun" ? "hidden " : "") value="Mezun">Mezun</option>
                                        <option @(Model.Type == "Stajyer" ? "hidden " : "") value="Stajyer">Stajyer</option>
                                        <option @(Model.Type == "Özel Kişi" ? "hidden " : "") value="Özel Kişi">Özel Kişi</option>
                                        <option @(Model.Type == "Rehber" ? "hidden " : "") value="Rehber">Rehber</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Ünvan</label>
                                <input type="text" class="form-control" name="Title" placeholder="Ünvan Giriniz...">
                            </div>
                            <div class="form-group col-md-12">
                                <label>Açıklama</label>
                                <textarea class="form-control" rows="4" name="Description" id="comment" placeholder="Adres Giriniz..."></textarea>
                            </div>
                            <div class="form-group col-md-6">
                                <label>BusinessAreaID</label>
                                <input type="text" class="form-control" name="BusinessAreaID" placeholder="Yetkinlik Giriniz...">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Askerlik Durumu</label>
                                <select class="custom-select2 form-control" name="MilitaryStatus">
                                    <optgroup label="Cinsiyet">
                                        <option value="@Model.MilitaryStatus">@Model.MilitaryStatus</option>
                                        <option @(Model.Type == "Yapıldı" ? "hidden " : "") value="Yapıldı">Yapıldı</option>
                                        <option @(Model.Type == "Yapılmadı" ? "hidden " : "") value="Yapılmadı">Yapılmadı</option>
                                        <option @(Model.Type == "Tecilli" ? "hidden " : "") value="Tecilli">Tecilli</option>
                                        <option @(Model.Type == "Muaf" ? "hidden " : "") value="Muaf">Muaf</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Cinsiyet</label>
                                <select class="custom-select2 form-control" name="Gender">
                                    <optgroup label="Cinsiyet">
                                        <option value="@Model.Gender">@Model.Gender</option>
                                        <option @(Model.Type == "Erkek" ? "hidden " : "") value="Erkek">Erkek</option>
                                        <option @(Model.Type == "Kadın" ? "hidden " : "") value="Kadın">Kadın</option>
                                        <option @(Model.Type == "Belirtmek İstemiyorum" ? "hidden " : "") value="Belirtmek İstemiyorum">Belirtmek İstemiyorum</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Evlilik Durumu</label>
                                <select class="custom-select2 form-control" name="MarriageStatus">
                                    <optgroup label="Medeni Durum">
                                        <option value="@Model.MarriageStatus">@Model.MarriageStatus</option>
                                        <option @(Model.Type == "Evli" ? "hidden " : "") value="Evli">Evli</option>
                                        <option @(Model.Type == "Bekar" ? "hidden " : "") value="Bekar">Bekar</option>
                                        <option @(Model.Type == "Dul" ? "hidden " : "") value="Dul">Dul</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Hobi</label>
                                <textarea class="form-control" rows="4" name="Hobby" id="comment" placeholder="Hobi Giriniz..."></textarea>
                            </div>
                            <div class="form-group col-md-5" onclick="update_user_photo()">
                                <button type="button" class="file-input btn light btn-primary">Fotoğraf Ekle</button>
                            </div>
                            <div class="form-group col-md-7">
                                <img style="width: 250px;height: 250px;" src="@Model.Photo" class="image" id="img_update_user_photo" alt="">
                                @Html.HiddenFor(s => s.Photo)
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" id="closeUser" onclick="GetData()" class="btn btn-danger light" data-dismiss="modal">Kapat</button>
                            <button type="button" submit-form="#user-edit-form" class="btn btn-success light ">Güncelle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

}
