@{
    ViewBag.Title = "SirketBilgi";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}
@model KariyerEntity.Entity.Company

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script src="~/Content/js/pages/CompanyUI/companyinfo.js"></script>
}
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Şirket Bilgileri</h3>
        </div>
        <div class="card-body">

            <form action="" method="post">
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <select class="form-control" multiple id="business-area-select">
                                <option value="Yazılım">Yazılım</option>
                                <option value="Tekstil">Tekstil</option>
                                <option value="Tasarım">Tasarım</option>
                                <option value="Donanım">Donanım</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <select class="form-control" multiple id="department-select">
                                <option value="Yazılım">Yazılım</option>
                                <option value="Bilgi İşlem">Bilgi İşlem</option>
                                <option value="Muhasebe">Muhasebe</option>
                                <option value="Finans">Finans</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <select class="form-control" multiple id="city-select">
                                <option value="İstanbul">İstanbul</option>
                                <option value="Ankara">Ankara</option>
                                <option value="İzmir">İzmir</option>
                                <option value="Bursa">Bursa</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Şirket İsmi</label>
                        <input required type="text" class="form-control" value="@Model.Name" name="Name" placeholder="İsim Giriniz...">
                    </div>
                    <div class="form-group col-md-6">
                        <label>E-Mail</label>
                        <input required type="email" class="form-control" value="@Model.EMail" name="EMail" placeholder="E-Mail Giriniz...">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Telefon</label>
                        <input required type="tel" class="form-control" value="@Model.Phone" name="Phone" placeholder="Telefon Giriniz...">
                    </div>

                    <div class="form-group col-md-6">
                        <label>Fax</label>
                        <input required type="tel" class="form-control" value="@Model.Fax" name="Fax" placeholder="Fax Giriniz...">
                    </div>

                    <div class="form-group col-md-4">
                        <label>Ülke</label>
                        <input required type="text" class="form-control" name="Country" value="@Model.Country" placeholder="Ülke Giriniz...">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Şehir</label>
                        <input required type="text" class="form-control" name="City" value="@Model.City" placeholder="Şehir Giriniz...">
                    </div>
                    <div class="form-group col-md-4">
                        <label>İlçe/Kasaba</label>
                        <input required type="text" class="form-control" name="Town" value="@Model.Town" placeholder="İlçe/Kasaba Giriniz...">
                    </div>
                    <div class="form-group col-md-12">
                        <label>Adres</label>
                        <textarea required class="form-control" rows="4" name="ress" id="comment" placeholder="Adres Giriniz...">@Model.Address"</textarea>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Vergi Numarası</label>
                        <input required type="number" min="0" class="form-control" name="TaxNumber" value="@Model.TaxNumber" placeholder="Vergi Numarası Giriniz...">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Vergi Dairesi Adresi</label>
                        <input required type="text" class="form-control" name="TaxAddress" value="@Model.TaxAddress" placeholder="Vergi Dairesi Adresi Giriniz...">
                    </div>
                    <div class="form-group col-md-6" onclick="update_company_photo()">
                        <button type="button" class="file-input btn light btn-primary">Logoyu Güncelle</button>
                    </div>
                    @Html.HiddenFor(x => x.Logo)

                    <div class="form-group col-md-6" onclick="update_tax_file()">
                        <button type="button" class="file-input btn light btn-primary">Vergi Levhasını Güncelle</button>
                    </div>
                    @Html.HiddenFor(x => x.TaxFile)

                    <div class="form-group col-md-6">
                        <div class="update-photo">
                            <img src="@Model.Logo" style="max-height:200px;max-width:200px" id="imgu_company_photo" alt="">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="update-photo">
                            <a href="@Model.TaxFile" target="_blank">
                                <img src="~/Content/images/pdf.png" style="max-height: 200px; max-width: 200px" id="img_tax_file">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" id="addBtn" class="btn btn-success light">Güncelle</button>
                </div>
            </form>
        </div>
    </div>
</div>

